# Ignore virtual environment folders
.venv/
venv/
env/
.idea/

# Ignore macOS .DS_Store files
.DS_Store

# Ignore database files
db.sqlite3
db.json
db.json.backup
*.sqlite3

# Ignore log files
logs/
*.log

# Ignore IDE or editor-specific files
.vscode/
*.pyc

# Ignore any sensitive or local configuration files
.env
idea/
.sln