# Ignore virtual environment folders
.venv/
venv/
env/
.idea/

# Ignore macOS .DS_Store files
.DS_Store

# Ignore database files

# Ignore IDE or editor-specific files
.vscode/
*.pyc

# Ignore log files
*.log

# Ignore any sensitive or local configuration files
.env
idea/
.sln


db.json
db.sqlite3