{% extends 'pfa/_base.html' %}
{% load static %}

{% block content %}

    <script>
        var selectedCategoryGlobal = "{{ selected_category }}";
    </script>
    <script src="{% static 'pfa/script.js' %}"></script>

    <!-- app header section start -->
    <div class="fixed-top">
        <!-- app logo section -->
        <div class="px-10 pt-8 pb-2 flex justify-center">
            <img src="{% static 'pfa/pfa-logo.png' %}" alt="pfa-logo">
        </div>
        <!-- day picker section -->
        <div class="flex justify-center py-2 text-gray-100">
            <form method="POST" id="filterForm" class="day-picker font-semibold">
                {% csrf_token %}
                {{ day_form.day_of_week }}
                <input type="hidden" id="id_category" name="category" value="{{ selected_category }}">
                <div class="button-group pt-2 pb-2">
                    <button type="button" class="category-button" data-category="all">ALL</button>
                    <button type="button" class="category-button" data-category="striking">STRIKING</button>
                    <button type="button" class="category-button" data-category="grappling">GRAPPLING</button>
                </div>
            </form>
        </div>
    </div>
    <!-- app header section end -->
    <!-- app body section start -->
    <div class="scrollable-content">
        <!-- class section -->
        <div class="text-gray-50 flex justify-center">
            <div>
                {% for class in class_list %}
                <!-- individual class card -->
                <div class="max-w-xs rounded-md overflow-hidden shadow-md shadow-gray-200/20 bg-gray-600 my-2 min-w-72 max-w-72 border border-gray-200 py-2">
                    <div class="">
                        <p class="text-base text-gray-50 font-medium"> {{class.training_class.name}} </p>
                    </div>
                    <div class="flex justify-center">
                        <div>
                            <p class="text-xs text-gray-300 font-light"> {{class.start_time|date:"H:i"}} - {{class.end_time|date:"H:i"}} ({{class.time_span}} Minutes)</p>
                        </div>
                        <div>
                            <p class="text-xs text-gray-300"></p>
                        </div>
                    </div>
                </div>
                {% endfor %}
                <div class="pb-10"></div>
            </div>
        </div>
    </div>
    <!-- app body section end -->
    <!-- app footer section start -->
    <footer class="fixed bottom-0 left-0 w-full bg-gray-700 text-white text-center py-2 text-xs">
        <p>Built for the PFA family ❤️</p>
        <p>by <a href="https://www.yourmainwebsite.com" class="text-blue-400 hover:underline">Matthew Kriel</a></p>
    </footer>
    <!-- app footer section end -->

{% endblock content %}